@(users: List[User] = null, posts: List[Post] = null)

@import helper._
@import helper.twitterBootstrap._

@main {
<h4> users @users.size() </h4> 
@for(user <- users) {
    <li>
    <h5>@user.username</h5>
    <h5>@user.getSince()</h5>
    <h5>@user.userid</h5>
    @form(action = routes.UserController.delUser(user.userid)) {
       <input class="btn btn-small pull-right" type="submit" value="delete">
    }
    </li>
}

<h4> posts @posts.size() </h4> 
@for(post <- posts) {
    <li>
    <h5>@post.content</h5>
    <h5>@post.getCreatedAt()</h5>
    <h5>@post.userid</h5>
    @form(action = routes.PostController.delPost(post.postid)) {
       <input class="btn btn-small pull-right" type="submit" value="delete">
    }
    </li>
}



}
