@(content: Html)

@import play.mvc.Http.Flash
@import play.mvc.Http.Session

<!DOCTYPE html>
<html>
  <head>
    <title>Ide.a2um</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">
    <link href="@routes.Assets.at("stylesheets/bootstrap.css")" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    
    <style>
      body { 
        padding-top: 60px; 
        padding-bottom: 40px; 
        background-color: #ffffff;
      }
      
    </style>
    <link href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")" rel="stylesheet">
    
  </head>

  <body>
    <!-- debug -->

    <!-- navbar -->
    @navbar("Ide.a2um")


	<!-- container -->
    <div class="container">
		<!--  flash -->
		@if(flash.get("info")) {
		<div class="alert">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			@flash.get("info")
		</div>
		} 
		
		@content
		
	</div>
  	@footer()
	

    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap.js")" type="text/javascript"></script>

  </body>
</html>
